
<div class="container">
  <div class="row">
    <!-- center boxes -->
    <div class="col-lg-12 text-center box pt-5">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 60rem;">
            <img class="card-img-top" width="1200" height="628" src="https://bloximages.newyork1.vip.townnews.com/themonitor.com/content/tncms/assets/v3/editorial/5/67/567547ce-0043-11e8-a411-1b73fcd36b7d/5a673c1a9a28d.image.jpg"
              alt="Card image cap">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>LOCATION</h3>
                </div>
                <div class="col">
                  <H3>DATE</H3>
                </div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card my-5" style="width: 60rem;">
            <img class="card-img-top" width="1200" height="628" src="https://bloximages.newyork1.vip.townnews.com/themonitor.com/content/tncms/assets/v3/editorial/5/67/567547ce-0043-11e8-a411-1b73fcd36b7d/5a673c1a9a28d.image.jpg"
              alt="Card image cap">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>LOCATION</h3>
                </div>
                <div class="col">
                  <H3>DATE</H3>
                </div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- center boxes -->
  </div>
</div>