<div class="back">
  <div class="jumbotron bg-dark">

  </div>
  <div class="mininav">
    <ul class="nav-items">
      <li class="in">
        <a class="iny">
          <span class="iny">Events</span>
          <span class="iny">0</span>
        </a>
      </li>
      <li class="in">
        <a class="iny">
          <span class="iny">Following</span>
          <span class="iny">0</span>
        </a>
      </li>
      <li class="in">
        <a>
          <span class="iny">Followers</span>
          <span class="iny">0</span>
        </a>
      </li>
      <li class="iny-btn">
        <button (click)="showPro()" class="btn">
          Edit Profile
        </button>
      </li>
    </ul>
  </div>
  <div class="ProfileBox">
    <img class="ProfileAvatar" src="https://myspace.com/common/images/user.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <!-- <h2>{{user.name}}</h2>
        <h4>@{{user.username}}</h4> -->
      </div>
      <br>
      <div class="col-sm">
        <br>
        <h6>
          Bio:
        </h6>
        <p>
          This is about you, yourself and you. What if I put more here would it get out the box or go under????????????
        </p>
      </div>
    </div>
  </div>
         <div class="right-container border col-sm">
           <div class="mt-3">
            <input type="text" class="form-control" placeholder="Title of Event">
           </div>
           <div class="mt-3">
            <textarea type="text" class="form-control des" placeholder="Information of Event"></textarea>
           </div>
           <div class="mt-3 left">
            <input type="date" class="form-control" id="myDate">
           </div>
           <div class="mt-3 left">
            <input type="time" class="form-control" id="myDate">
           </div>
           <div class="mt-3 right">
            <button class="form-control btn-outline-light" type="submit">Submit</button>
           </div>
         </div>

<!-- <div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="listgroup">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">email: {{user.email}}</li>
  </ul>
</div> -->