.tittle {
  font-size: 400%;
  margin-top: 1in;
  margin-bottom: .5in;
}

.left {
  margin-left: 1.3in;
}

.back {
  background-color: #BBC3C6;
  background-size: cover;
  height: 100vh;
}
.inbox{
  width: 70%;
  margin: auto;
}