.background {
    background: #BBC3C6;
} 

.navbar {
   background-color: #962715;
}
.picture1 {
   width: 100%;
   height: 100%;
   opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
   margin: 0%;
}

.picture2 {
   width: 90%;
   height: 80%;
   position: absolute;
   left: 1%;
   top: 10%;
   margin-left: 13%; 
}


.moto {
   position: relative;
   font-family: 'Montserrat Alternates', sans-serif;
   text-shadow: 3px 4px #ccc9c9;
}

.rgv {
   color: orange;
   text-shadow: 3px 4px #ccc9c9;
}

.weAre {
    text-shadow: 3px 4px #ccc9c9;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  margin-right: 0px;
}

.container:hover .middle {
  opacity: 2;
}

.name {
  margin-left: 0px;
  font-size: 20px;
}

.joinUs{
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
}

.AllLastRow {
    text-align: center; 
}

.location {
    position: relative;
    right: 20%;
    width: 20%;
}
.locale {
   position: absolute;
   left: 80%;
   text-align: center;
   width: 20%;
}

.footer {
    background-color: #231f20;
    color: #828386;
    display: block;
    min-height: 150px;
    padding: 50px 0;
}
 


