.background {
    background: #BBC3C6;
} 

.navbar {
   background-color: #962715;
}

.picture2 {
    width: 600px;
   height: 400px;
   position: absolute;
   left: 10px;
   top: 45px;
   margin-left: 250px; 
}

.picture1 {
   width: 800px;
   height: 500px;
   opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
}

.moto {
   position: relative;
   font-family: 'Montserrat Alternates', sans-serif;
   text-shadow: 3px 4px #ccc9c9;
}

.rgv {
   color: orange;
   text-shadow: 3px 4px #ccc9c9;
}

.weAre {
    text-shadow: 3px 4px #ccc9c9;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  margin-right: 0px;
}

.container:hover .middle {
  opacity: 2;
}

.name {
  margin-left: 0px;
  font-size: 20px;
}

.lastRow {
   text-align: center;
   font-size: 50px;
   position: relative;
   font-family: 'Montserrat Alternates', sans-serif;
}

.AllLastRow {
    text-align: center; 
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
}

.footer {
    background-color: #231f20;
    color: #828386;
    display: block;
    min-height: 150px;
    padding: 50px 0;
}

.column-block {
    float: left;

}

.row,p {
    margin-left: 100px;
}

