<div class="container-fluid p-0">
  <div class="col p-0">
    <h1 class="text-center moto">Created by and for the
    <h1 class="rgv">RGV</h1>
    </h1>
  </div>

  <div class="row mt-5 m-0">
    <div class="col p-0 text-center">
      <img class="card-img text-white picture1" src="./assets/pictures/IMG_0246.JPG">
      <img class="card-img text-white picture2" src="./assets/pictures/IMG_0246.JPG">
    </div>

    <div class="col bg-light p-0">
      <h2 class="text-center weAre">We are LOCAL E. a website that plans to help you with your plans.</h2>
      <p class="text-center">Local E. was created by a group of junior developers from The Valley Tech Academy located in Mission,TX.The valley
        keeps on growing every day. With a population over more than million citizens we</p>
    </div>
  </div>

</div>

<h1 class="text-center m-5">Meet The Team</h1>

<div class="row m-0 text-center">
  <div class="col">
    <img src="./assets/pictures/kenny.png" width="200px">
    <p class="name mt-4 ">Kenny Villanueva</p>
  </div>

  <div class="col container">
    <img src="./assets/pictures/jorge.png" width="200px">
    <!-- <img src="./assets/pictures/jorgefunny.png" width="220px" class="middle"> -->
    <div>
      <p class="name mt-4 ">Jorge Guerrero</p>
    </div>
  </div>

  <div class="col">
    <img src="./assets/pictures/aylin.png" width="200px">
    <p class="name mt-4 ">Aylin Lira</p>
  </div>
</div>


<div class="row m-0 text-center">
  <div class="col">
    <img src="./assets/pictures/michael.png" width="200px">
    <p class="name mt-4 ">Michael Zapata</p>
  </div>

  <div class="col container">
    <img src="./assets/pictures/john.png" width="200px">
    <!-- <img src="./assets/pictures/johnfunny.png" width="210px" class="middle"> -->
    <div>
      <p class="name mt-4">Johnathon Ramirez</p>
    </div>
  </div>

</div>


<div class="container-fluid">
  <div class="row m-0">
    <div class="col">
      <div class="text-center">
        <img src="./assets/pictures/missionrocket.png" width="200px">
      </div>
      <h2 class="text-center">MISSION</h2>
      <p class="text-center m-0">Get the valley to know more about the events in the region.</p>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/pictures/vision_earth.png" width="">
      </div>
      <h2 class="text-center">VISION</h2>
      <p class="text-center m-0"> Inform the public the various activities here in our region and so get the world to know how sentationsl teh valley
        is.</p>
    </div>
  </div>
</div>

<div class="container-fluid AllLastRow">
    <div class="col p-0">
        <h1 class="text-center joinUs mt-5">You liked our idea?
        <h1 class="joinUs">Join us right now!</h1>
        </h1>
        <button class="mb-5" routerLink="/register">Create An Account!</button>
      </div>
</div>


<div class="container-fluid footer">
  <div class="row m-0">
    <div class="col">
        <ul style="list-style-type:none">
            <li class="title m-0">Quick Links</li>
            <li routerLink="/home" style="cursor:default">Home</li>
            <li routerLink="/login" style="cursor:default">Login</li>
            <li routerLink="/AboutPage" style="cursor:default">About Us</li>
            <li routerLink="/Calender" style="cursor:default">Calendar</li>
          </ul>
    </div>
    <div class="col location">
        <ul style="list-style-type:none">
            <li class="m-0">Location</li>
            <li> 801 N Bryan Rd, Mission, TX 78572</li>
          </ul>
    </div>
    <div class="col locale">
        <p>
          <i class="far fa-copyright"></i> 2018 LOCAL E
        </p>
    </div>
  </div>
</div>